main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://zmeseret.files.wordpress.com/2015/07/harry-potter-and-the-prisoner-of-azkaban-harry-potter-17188607-1920-800.jpg);    
}

.container{
    width: 600px;
    height: 80vh;
    margin: 2rem auto;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(26, 17, 20, 0.8);
    border-radius: 25px;
    box-shadow: 8px 8px 8px 8px rgb(26, 17, 20);
}
.listado-canciones{
    width: 100%;
    font-weight: bold;
    font-size: 1.1rem;
}
.cancion{
    padding: 1rem 0rem;
    display: flex;
    width: 97%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #C49E60;
    box-shadow: 1px 2px 1px 2px #c49e6093;
    margin-top: 15px;
    border-radius: 20px;
    padding-left: 20px;
}
.titulo{
    flex:6;
}
.play, .stop, .descargar{
    flex: 1;
    cursor: pointer;
}
.play, 
.stop {
    display: flex;
    justify-content: center;
}

.container-volumen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-volumen p {
    color: lightgray;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10px;
}